<% include ./partials/header.ejs %>
<a href="/" class="waves-effect waves-light btn red hidden" id="homeButton" >Home</a>

  <div class="container">

    <p class="quote">Who said this quote:
      <%= quoteText %>
    </p>


    <label for="authorName">authorName</label>
    <input id="authorName" name="authorName" type="text" class="validate">

    <button class="btn waves-effect waves-light" id="submitButton" type="submit" name="action">Check
      <i class="material-icons right">send</i>
    </button>

  </div>
  <% include ./partials/footer.ejs %>